<div class="footer">
    <p>All products and services featured are selected by our editors. Real Simple may receive 
        compensation for some links to products and services in this email on this website. 
        Offers may be subject to change without notice. Real Simple is part of the Meredith
        Home Group. © Copyright 2020 Meredith Corporationthis link opens in a new tab. 
        All Rights Reserved. Reproduction in whole or in part without permission is prohibited.
        Privacy Policythis link opens in a new tab Terms of Servicethis link opens in a 
        new tab Ad Choicesthis link opens in a new tab Web Accessibility</p>
</div>
