.header {
    display: flex;
    padding: 0.5%;
    background: #555;
    color: #f1f1f1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
.logout-btn {
  float: right;
}

button{
  background-color: #555;
}