.detailpage-container {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container, .details-container{
    padding: 2%;
}

.detailpage-container{
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    line-height: 200%;
}