.detailpage-container {
    padding-top: 0.5%;
    display: flex;
    flex-wrap: wrap;
}
.details-container {
    display: flex;
    flex-direction: column;
    text-justify: auto;
}
.image-container, .details-container{
    padding-left: 2%;
    padding-right: 2%;
}

img{
    width: 100%;
    height : auto;
}

.detailpage-container{
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    line-height: 200%;
}